<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>AWS</key>
	<dict>
		<key>CognitoUserPoolsSigninProviderKey</key>
		<string>AWS_COGNITOUSERPOOLSSIGNINPROVIDERKEY</string>
		<key>CredentialsProvider</key>
		<dict>
			<key>CognitoIdentity</key>
			<dict>
				<key>Default</key>
				<dict>
					<key>PoolId</key>
					<string>AWS_CREDENTIALSPROVIDER_COGNITOIDENTITY_DEFAULT_POOLID</string>
					<key>Region</key>
					<string>AWS_CREDENTIALSPROVIDER_COGNITOIDENTITY_DEFAULT_REGION</string>
				</dict>
			</dict>
		</dict>
		<key>IdentityManager</key>
		<dict>
			<key>Default</key>
			<dict/>
		</dict>
		<key>CognitoUserPool</key>
		<dict>
			<key>Default</key>
			<dict>
				<key>AppClientSecret</key>
				<string>AWS_COGNITOUSERPOOL_DEFAULT_APPCLIENTSECRET</string>
				<key>AppClientId</key>
				<string>AWS_COGNITOUSERPOOL_DEFAULT_APPCLIENTID</string>
				<key>PoolId</key>
				<string>AWS_COGNITOUSERPOOL_DEFAULT_POOLID</string>
				<key>Region</key>
				<string>AWS_COGNITOUSERPOOL_DEFAULT_REGION</string>
			</dict>
		</dict>
	</dict>
	<key>ZOOM</key>
	<dict>
		<key>SDKKey</key>
		<string>ZOOM_SDKKEY</string>
		<key>SDKSecret</key>
		<string>ZOOM_SDKSECRET</string>
		<key>Domain</key>
		<string>ZOOM_DOMAIN</string>
	</dict>
</dict>
</plist>
